<div class="wall-container" id="wallContainer">
<div class="containerposts">

<button type="button" class="btn btn-success" id="create-Post" data-target="#exampleModal">
  <h3>Post</h3>
</button>
<div id="cross" class="DivCross"></div>

 <%= render "posts/new", locales: [ @post, Post.new ] %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Wall rules :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        rules text
      </div>
      
    </div>
  </div>
</div>

 <% i = 0%>
<% Post.all.each do |post| %>
 
  <% i +=1 %>
   
    <div id="post<%= i %>" class="post-container" style= "position:absolute; top:<%= post.Xpos %>px; left:<%= post.Ypos %>px;">

      <div class="post-content">
        <%= post.content %>
      </div>
    </div>
  

          
<%end %>
</div>
</div>